<div class="container-fluid">

  <div class="new_link">
    <%= link_to "Add a new Link", new_link_path(@link), :class => "btn btn-primary" %>
  </div>

  <div class="list_all">
    <h3>News Links</h3>
    <% @links.each do |link| %>
      <% @nacho = link.id %>
      <div class="each_link">
        <span class="glyphicon glyphicon-link clickMe" id="<%= link.id %>"> <%= link.name %></span>
      </div>

      <div id="link-<%= link.id %>" class="no-show"> <%= render "/layouts/link_content", :object =>link %></div>
    <% end %>
  </div>

</div>

<script>
  $(document).ready(function(){
    $(".each_link").click(function(event){
      var linkID = event.target.id;
      $("#link-" + linkID).slideToggle();
    });
  });
</script>
