<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Hacker News</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">

      </ul>
      <form class="navbar-form navbar-left">
        <input type="text" class="form-control col-lg-8" placeholder="Search">
      </form>
      <ul class="nav navbar-nav navbar-right">

            <% if current_user %>
              <li><span class="logged-in"> Logged in as <%= current_user.email %></span></li>
              <li><%= link_to "Log Out", logout_path %></li>
            <% else %>
              <li><%= link_to "Sign Up", signup_path %> or</li>
              <li><%= link_to "Log In", login_path %></li>
            <% end %>
            <li><%= link_to "Home",'homes#index' %></li>
      </ul>
    </div>
  </div>





  <div class="jumbotron text-center">
    <img src="http://kravmaganewcastle.com.au/wp-content/uploads/2009/10/links.jpg" height = 200>
  </div>

  <%= yield %>

  <% if flash[:notice] == "Created Successfully." %>
        <div class="alert alert-success" role="alert">
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:notice] == "Updated Successfully." %>
        <div class="alert alert-info" role="alert">
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:notice] == "Removed Successfully." %>
        <div class="alert alert-info" role="alert">
          <%= flash[:notice] %>
        </div>
        <% else %>
          <% if flash[:notice] != nil %>
            <div class="alert alert-success" role="alert">
            <%= flash[:notice] %>
          <% end %>

        </div>
      <% end %>

  <% if flash[:alert] != nil %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:alert] %>
    </div>
  <% end %>
</div>

</body>
</html>
